@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

body {
    background-color: hsl(30, 38%, 92%);
    margin: 0px;
}

.container {
    width: 97vw;
    height: 97vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.box {

    min-width: 300px;
    max-width: 300px;
    height: 440px;
    background-color: white;
    padding: 30px;
    border-radius: 0px 10px 10px 0px;
}

img {
    width: 350px;
    height: 500px;
    border-radius: 10px 0px 0px 10px;
}

h2 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: hsl(228, 12%, 48%);
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 2em;
    color: hsl(212, 21%, 14%);
}

h1.pnormal {
    color: hsl(158, 36%, 37%);
}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 1em;
    color: hsl(228, 12%, 48%);
}

nav {
    max-width: 300px;
}

ul {
    margin-left: -40px;
}

ul li {
    display: inline-block;

}

li#p {
    margin-left: 40px;
    font-size: 0.8em;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.btn {
    font-size: 0.9em;
    border: none;
    padding: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    background-color: hsl(159, 39%, 17%);
    color: white;
    width: 300px;
    height: 50px;
}

.imgbtn {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

footer {
    font-size: 12px;
    padding: 7px;
    text-align: center;
    color: white;
    font-weight: bolder;
    background-color: hsl(228, 12%, 48%);
}

footer>a {

    text-decoration: none;
    color: hsl(159, 39%, 17%);
}

footer>a:hover {

    text-decoration: underline;
    color: white;
}